*{
    margin: 0px;
    padding: 0px;
}
body {
	/*background: rgb(190, 206, 52);*/
	margin:0px;
	padding:0px;
}
.wrapper {
    /*border: solid;*/
    width: 1600px;
    height: 4105px;
    margin: 0px auto; 
}
.scech{
    z-index:1;
}
.webdew{
    position: relative;
    width: 1600px;
    height: 634px;
}
.header{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 393px;
    border: solid;
    border-color: brown;
    width: 810px;
    height: 103px; 
}
.nav{
    /*border: solid;*/
    /*border-color: rgb(236, 229, 229);*/
    margin: -25px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing:0px;
}
.your_life{
    position: absolute;
    top: 233px;
    left: 9px;
    color: white;
    /*border: solid;
    border-color: rgb(236, 247, 82);*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 75px;
     /* identical to box height */
    width: 1600px;
    /*height: 45px; */

    /*display: flex;*/
    align-items: center;
   text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.whateller{
    position: absolute;
    top: 329px;
    left: 7px;
    /*border: solid;*/
    color: white;
    width: 1600px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    letter-spacing:0px;
}
.button{
    position: absolute;
    top: 410px;
    left: 715px;
}
.socials {
    display:flex;
    justify-content:space-between;
    position: absolute;
    /*border: solid;*/
    top: 637px;
    left: 722px;
    width: 170px;
    height: 20px;
    z-index:2;
}
.buton_mail{
    position: absolute;
}
.pappresent{
    position: relative;
    width: 1600px;
    height: 982px;
}
.content_1 {
    align-items: center;
    position: absolute;
    top: 407px;
    left: 281px;
    width: 407px;
    height: 233px; 
}
.your_idea{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.task {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;/* or 20px */
    color: #4E4E4E;
    margin-bottom: 33px;
}

.image_1 {
    position: absolute;
    top: 230px;
    left: 938px;
}
.our_communitu{
    position: relative;
    background-color:#F5F6F7;
    width: 1600px;
    height: 504px;
}
.user_card{
    position: absolute;
    display:flex;
    flex-direction:column;
    top: 153px;
    left: 269px;
    width: 298px;
    height: 175px;
}
.userpic{
    align-items: center;
    text-align: center;
    margin-bottom: 15.5px;
}
.uour_comm{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-left: 1.5px;
    margin-bottom: 11px;
}
.a_shacer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: #4E4E4E;
    width: 298x;
    height: 80px;
}.slider_items{
    position: absolute;
    display: flex;
    top: 120px;
    left: 705px;
    width: 1200px;
    height: 244px;
}
.rectange_2{
    margin-right: 30px;
}
.slider_nav_items{
    position: absolute;
    display: flex;
    justify-content:space-between;
    width: 82px;
    height: 18px;
    top: 83px;
    left: 1248px;
}
.one{
    margin-left: 8px;
}
.slesh{
    margin-top: 1px;
}
.five{
    margin-right: 7px;
    margin-top: 1px;
}
.implement{
    position: relative;
    width: 1600px;
    height: 842px;
}
.content_3 {
    align-items: center;
    position: absolute;
    top:318px;
    left: 816px;
    width: 430px;
    height: 184px; 
}
.image_2 {
    position: absolute;
    top: 120px;
    left: 270px;
}
.implement_right{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;

}
.these{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    /*letter-spacing: 0.001px;*/
    color: #4E4E4E;
    margin-bottom: 29px;
}
.sing_up{
    position: relative;
    width: 1600px;
    height: 524px;
}
.pexels{
    position: absolute;
    z-index:1;
}
.sing_up_for{
    position: absolute;
    z-index:2;
    top: 200px;
    left: 610px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.e-mail{
    position: absolute;
    top: 258px;
    left: 597px;
    width: 390px;
    height: 46px;
    z-index:2;
}
.booton_send{
    position: absolute;
    top: 0px;
    left: 337px;
}
.download{
    position: relative;
    z-index:1;
    width: 1600px;
    height: 464px;
}
.download_the{
    position: absolute;
    top: 120px;
    left: 675px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    width: 255px;
    height: 28px;
    z-index:2;
}
.mashine{
    position: absolute;
    top: 169px;
    left: 561px;
    width: 480px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /*letter-spacing: 0.25px;*/
    line-height: 140%; /* or 20px */
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    z-index:2;

}
.button_4{
    z-index:2;
}
.button_5{
    z-index:2;
}
